<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
		  <binding name="wsDualBinding_IDuplexCalculator" clientBaseAddress="http://localhost:6666/myClient/" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8888/generalCalculator" binding="basicHttpBinding"
        contract="Artech.WCFService.Contract.IGeneralCalculator" name="selfHostEndpoint_http" />
      <endpoint address="net.tcp://localhost:9999/generalCalculator"
        binding="netTcpBinding" contract="Artech.WCFService.Contract.IGeneralCalculator"
        name="selfHostEndpoint_tcp" />
      <endpoint address="http://localhost/wcfservice/GeneralCalculatorService.svc"
        binding="basicHttpBinding" contract="Artech.WCFService.Contract.IGeneralCalculator"
        name="iisHostEndpoint" />
      <endpoint address="http://localhost:7777/DuplexCalculator" binding="wsDualHttpBinding"
        bindingConfiguration="wsDualBinding_IDuplexCalculator" contract="Artech.WCFService.Contract.IDuplexCalculator"
        name="duplexCalculatorEndpoint" />
      <endpoint address="http://localhost/WCFService/SessionfulCalculatorService.svc"
        binding="wsHttpBinding" bindingConfiguration="" contract="Artech.WCFService.Contract.ISessionfulCalculator" />
    </client>
  </system.serviceModel>
 </configuration>