<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="msmqBinding">
                    <security>
                        <transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
                        <message clientCredentialType="None"/>
                    </security>
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/orders" 
                      bindingConfiguration="msmqBinding" 
                      binding="netMsmqBinding" 
                      contract="WCF.QueuedService.Contract.IOrderProcess"
                      name="msmqEndpoint"></endpoint>
        </client>
    </system.serviceModel>
</configuration>