<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      
        <behaviors>
            <serviceBehaviors>
                <behavior name="calculatorServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
      
        <services>
            <service behaviorConfiguration="calculatorServiceBehavior" name="Artech.OverloadableContract.Service.CalculatorService">
                <endpoint binding="basicHttpBinding" contract="Artech.OverloadableContract.Service.ICalculator" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1234/calcuator" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>