<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:1234/calcuator" binding="basicHttpBinding"
                 contract="Artech.OverloadableContract.Client.CalculatorService.ICalculator" />
          <endpoint address="http://localhost:1234/calcuator" binding="basicHttpBinding"
             contract="Artech.OverloadableContract.Client.MyCalculatorClient" />
        </client>
    </system.serviceModel>
</configuration>