<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="msmqBinding">
                    <security>
                        <transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
                        <message clientCredentialType="None"/>
                    </security>
                </binding>
            </netMsmqBinding>
        </bindings>
        <services>
            <service name="WCF.QueuedService.Service.OrderProcessService">
                <endpoint binding="netMsmqBinding" address="" bindingConfiguration="msmqBinding" contract="WCF.QueuedService.Contract.IOrderProcess"></endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="net.msmq://localhost/private/orders"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="behavior1">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>