<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="wsDualBinding_IDuplexCalculator" clientBaseAddress="http://localhost:6666/myClient/" />
            </wsDualHttpBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior name="clientViaBehavior">
                    <clientVia viaUri="http://localhost:8080/SessionCalculator" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <client>
            <endpoint address="http://localhost:8888/generalCalculator" binding="basicHttpBinding"
              contract="Artech.WCFService.Contract.IGeneralCalculator" name="selfHostEndpoint_http" />
            <endpoint address="net.tcp://localhost:9999/generalCalculator"
              binding="netTcpBinding" contract="Artech.WCFService.Contract.IGeneralCalculator"
              name="selfHostEndpoint_tcp" />
            <endpoint address="http://localhost/wcfservice/GeneralCalculatorService.svc"
              binding="basicHttpBinding" contract="Artech.WCFService.Contract.IGeneralCalculator"
              name="iisHostEndpoint" />
            <endpoint address="http://localhost:7777/DuplexCalculator" binding="wsDualHttpBinding"
              bindingConfiguration="wsDualBinding_IDuplexCalculator" contract="Artech.WCFService.Contract.IDuplexCalculator"
              name="duplexCalculatorEndpoint" />
            <endpoint address="http://localhost:7776/SessionCalculator" behaviorConfiguration="clientViaBehavior" name="httpEndpoint"
              binding="wsHttpBinding" bindingConfiguration="" contract="Artech.WCFService.Contract.ISessionfulCalculator" />
            <endpoint address="http://localhost:6665/DivideCalculator" name="divideEndpoint"
              binding="basicHttpBinding" contract="Artech.WCFService.Contract.IDivideCalculator" />

            <endpoint address="net.tcp://localhost:7778/TcpDuplexCalculator" behaviorConfiguration=""
                      name="tcpDuplexEndpoint" binding="netTcpBinding" contract="Artech.WCFService.Contract.ITcpDuplexCalculator" />
        </client>
    </system.serviceModel>
</configuration>