<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="wsDualBinding_IDuplexCalculator" clientBaseAddress="http://localhost:7777/Client"></binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/WCFService/CalculatorService" binding="basicHttpBinding" contract="Artech.WCFService.Contract.ICalculator" name="generalCalculatorEndPoint"></endpoint>
      <endpoint address="http://localhost:9999/WCFService/DuplexCalculatorService" binding="wsDualHttpBinding" bindingConfiguration="wsDualBinding_IDuplexCalculator" contract="Artech.WCFService.Contract.IDuplexCalculator" name="duplexCalculatorEndPoint"></endpoint>
    </client>
  </system.serviceModel>
</configuration>